.lap_score_chart_root
	.lap_score_footer_start.gap
	.dummy 
	.bar.bar-end
	.dummy 
	.score-bg.score-bg-l.score-bg-b 
	.bar.bar-center.bar-end
	.score-bg.score-bg-r.score-bg-b 
	.dummy 
.template-lap_score#lap_score_row
	.dummy.gap
	.dummy 
	.bar 
	.dummy 
	.score-bg.score-bg-l 
	.bar.bar-center 
	.score-bg.score-bg-r 
	.dummy

	.name

	.template-lap_score_sub_1#lap_score_sub
		.picto 
			img(src='assets/icon/none.png')
		.lap_name.lap_kind.stack_bar 
		.score-bg.score-bg-l 
		.score-bg.score-bg-r 
		.dummy