.personal_result_root.d-grid(style='grid-template-columns: 3rem 1fr 1fr 1fr 1fr; grid-auto-flow: row; gap: 0.3rem 0.2rem; align-items: center;')
	.dummy
	.t-header Distance 
	.t-header Finish 
	.t-header Ranking 
	.t-header.section 20-29歳

	hr.m-0.opacity-100.hr(style='border-width: 0.15rem;')

	.template-personal_result#personal_result_row
		.t.kind.start-col
			img.picto(src='/assets/icon/star.png' height='5')
		.t.distance 3.8km
		.t.finish 23:45
		.t.ranking 
			span.value 1,234
			span.ord th
		.t.section 
			span.value 234
			span.ord th
		hr.m-0.marker.hr

.copy.d-flex(style='gap: 1rem; justify-content: center; align-items: center;')
	.btn.bi-copy.disabled
	a テキスト
	.t |
	a スクリーンショット