// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

body {
	font-family: "Century Gothic";
}

img.emoji {
	height: auto;
	width: 1em;
	vertical-align: top;
 }
 
// ---------------------------------------

header {
	display: grid;
	grid-template-columns: auto max-content;
	
	background-color: black;
	color: darkgray;

	h1 {
		font-weight: 800;
		margin: 0;
	}

	img {
		padding: 0.3em;
		width: 9vw;
		margin: 3vw;
		fill: currentColor;

		background-color: darkgray;
		border-radius: 2vw;
	}
}

#course {
	background-color: black;
	color: white;

	h1 {
		padding: 0.2ex 0;
		text-align: center;
	}

	#course_summary p{
		margin: 0;
		font-size: 80%;
		width: 100%;
		text-align: end;
		padding: 0.1ex 1em;
	}
}

section.view {
	margin: 1em;
	padding: 1em;
	border-radius: 1em;
	background-color: #eee;

	h3 {
		font-size: 67%;
		color:darkgray;

		width: 100%;
		height: 0;
		text-align: end;
		margin:0
	}

	h2 {
		font-size: medium;
		font-weight: 700;

		.distance {
			font-size: 80%;	
		}
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			border-radius: 100vh;
			margin: 0.5em;
			background-color: #ddd;
			list-style-type: none;
			padding: 0 1em;
			align-items: center;
			display: grid;
			grid-template-columns: 1fr 4fr 4fr 4fr;

			.circle {
				display: inline-block;
				width: 1em;
				height: 1em;
				border-radius: 0.5em;
			}

			.delta {
				text-align: end;
			}
		}
	}
}

.debug {
	display: none;
}

#compare_table {
	display: none;
}

#compare_record {
	td {
		text-align: right;
	}

	.positive {
		color: black;
	}

	.positive::before {
		content: '+';
	}

	.negative {
		color: red;
	}

	.negative::before {
		content: '-';
	}

	.zero {
		color: gray;
	}

	.zero::before {
		content: '±';
	}
}
