// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

body {
	font-family: "Century Gothic", sans-serif;
}

img.emoji {
	height: auto;
	width: 1em;
	vertical-align: top;
}

.touchable_icon {
	padding: 0.2rem;
	width: 2.5rem;
	height: 2.5rem;
	margin: 0;
	fill: currentColor;
}

.touchable_small_icon {
	padding: 0.2rem;
	width: 1.8rem;
	height: 1.8rem;
	margin: 0;
	fill: currentColor;
}

.icon_in_text {
	max-width: 2em;
	max-height: 2ex;
	vertical-align: baseline;
}

:root {
	--record-weakest-color: hsl(43deg 100% 45% / 0.2);
	--swim-weakest-color: hsl(198deg 69% 45% / 0.2);
	--bike-weakest-color: hsl(0deg 100% 45% / 0.2);
	--run-weakest-color: hsl(134deg 48% 45% / 0.2);

	--record-color: hsl(43deg 100% 45% / 0.5);
	--swim-color: hsl(198deg 69% 45% / 0.5);
	--bike-color: hsl(0deg 100% 45% / 0.5);
	--run-color: hsl(134deg 48% 45% / 0.5);

	--record-high-color: hsl(43deg 100% 45%);
	--swim-high-color: hsl(198deg 69% 45%);
	--bike-high-color: hsl(0deg 100% 45%);
	--run-high-color: hsl(134deg 48% 45%);

	--weakest-color: hsl(0deg 0% 45% / 0.2);
	--weak-color: hsl(0deg 0% 45% / 0.5);
	--strong-color: gray;
}

.record {
	--weakest-color: var(--record-weakest-color);
	--weak-color: var(--record-color);
	--strong-color: var(--record-high-color);
}

.swim {
	--weakest-color: var(--swim-weakest-color);
	--weak-color: var(--swim-color);
	--strong-color: var(--swim-high-color);
}

.bike {
	--weakest-color: var(--bike-weakest-color);
	--weak-color: var(--bike-color);
	--strong-color: var(--bike-high-color);
}

.run {
	--weakest-color: var(--run-weakest-color);
	--weak-color: var(--run-color);
	--strong-color: var(--run-high-color);
}

h2.marker {
	background: linear-gradient(transparent 65%, var(--weak-color) 65%, var(--weak-color) 100%);
	width: fit-content;
}

// ---------------------------------------


header {
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #111;
	color: #eee;

	align-items: center;
	padding: 0.2rem;

	h1 {
		font-weight: 800;
		margin: 0;
	}

	.touchable_icon:hover {
		fill: white;
	}

	.btn-menu {
		padding: 0.1rem 1rem;
		border-color: #aaa;
	}
}

#course {
	background-color: hsl(210, 80%, 42%);
	color: hsl(0, 0%, 90%);

	h1 {
		padding: 0.2ex 0;
		text-align: center;

		word-break: keep-all;
	}

	#course_summary p {
		margin: 0;
		font-size: 80%;
		width: 100%;
		text-align: end;
		padding: 0.1ex 1em;
		text-transform: capitalize;
	}
}


@media (min-width: 727px) {
	#view {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: start;
	}
}

@media (min-width: 1201px) {
	#view {
		display: grid;
		grid-auto-flow: dense;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}
}


section.panel {
	margin: 1em;
	padding: 1em;
	border-radius: 1em;
	background-color: #eee;

	overflow: hidden;

	h3 {
		font-size: 67%;
		color: darkgray;

		width: 100%;
		height: 0;
		text-align: end;
		margin: 0
	}

	h2 {
		font-size: medium;
		font-weight: 700;

		.distance {
			font-size: 80%;
		}
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			border-radius: 100vh;
			margin: 0.5em;
			background-color: #ddd;
			list-style-type: none;
			padding: 0 1em;
			align-items: center;
			display: grid;
			grid-template-columns: 1fr 7fr 4fr 3fr;

			.circle {
				display: inline-block;
				width: 1em;
				height: 1em;
				border-radius: 0.5em;
			}

			.delta {
				text-align: end;
			}
		}
	}

	.chart {
		min-height: 300px;
		aspect-ratio: 1 / 1;
		width: 100%;
	}
}

.panel.summary {
	.name {
		margin-right: 0.5em;
		max-width: 7em;
		word-break: auto-phrase;
		align-self: center;
		text-align: start;
	}
}

.athlete-list-item {
	.number::before {
		content: '(';
	}

	.number::after {
		content: ')';
	}

	button[data-athlete-update-mode='add'] {
		.user-minus {
			display: none;
		}
	}

	button[data-athlete-update-mode='remove'] {
		.user-plus {
			display: none;
		}
	}
}

.lap_time_chart {
	--lap-count: 3;

	img {
		height: 1.3rem;
	}

	.name {
		grid-column: 1;
	}

	.time_bar {
		border-left: black solid 1px;
		grid-row: span 2;
	}

	.name {
		grid-row: span 2;
	}


	.stack_bar {
		line-height: 2rem;
		text-indent: 1em;

		// デフォルト値

		color: var(--weak-color);
		--col-count: 0;

		&.c0 {
			--col-count: 0;
		}

		&.c1 {
			--col-count: 1;
		}

		&.c2 {
			--col-count: 2;
		}

		&.c3 {
			--col-count: 3;
		}

		&.c4 {
			--col-count: 4;
		}

		&.c5 {
			--col-count: 5;
		}

		&.c6 {
			--col-count: 6;
		}

		&.c7 {
			--col-count: 7;
		}

		&.c8 {
			--col-count: 8;
		}

		&.c9 {
			--col-count: 9;
		}

		--grad-start: calc(100% / var(--lap-count) * var(--col-count) + 1%);

		background: linear-gradient(transparent var(--grad-start), currentColor var(--grad-start), currentColor 100%);
	}

	.time {
		font-size: small;
		text-align: end;
		padding-inline-end: 0.1rem;
	}
}

.lap_score_chart_root {
	--score-bg-color: hsl(43deg 100% 80%);
	--border-color: darkgray;

	--lap-count: 3;

	display: grid;
	/** 
	 * スコアの注力領域はここで調整する
	 * 25 ~ 75 の時は 1fr 1fr 1px 1fr 1fr;
	 * 35 ~ 65 の時は 7fr 3fr 1px 3fr 7fr; (35, 15, 15, 35 を通分）
	 *   この時、.stack_barのwidthの計算方法も調整すること
	 *   (7 + 3 + 3 + 7)/7 × 100% がスコア100に相当
	 */
	grid-template-columns: auto auto 1px 1fr 0.42857fr 1px 0.42857fr 1fr;
	row-gap: 0;

	img {
		/* 予防的処置 */
		max-height: 5rem;
	}

	.gap {
		height: 0.7rem;
	}

	.bar {
		border-left: black solid 1px;
		grid-row: span calc(var(--lap-count) + 1);

		&.bar-center {
			z-index: 2;
		}

		&.bar-end {
			grid-row: span 1;
		}
	}

	.name {
		grid-row: span var(--lap-count);
	}

	.picto {
		height: 1rem;
		text-align: end;
		padding-inline-end: 0.5rem;

		img {
			height: 0.9rem;
			vertical-align: text-top;
		}
	}

	.stack_bar {
		color: white;
		text-align: end;
		z-index: 1;
		height: 74%;
		font-size: small;
		align-self: center;


		/* 要素の高さに合わせる（ここでは、親要素のgrid-autoで × この要素の相対height） */
		line-height: 0.74rem;
		padding-inline-end: 0.3rem;

		background-color: var(--strong-color);
	}

	.score-bg {
		background-color: var(--score-bg-color);

		&.score-bg-l {
			border-inline-start: 1px dashed var(--border-color);

			&.score-bg-t {
				border-start-start-radius: 2rem;
			}

			&.score-bg-b {
				border-end-start-radius: 2rem;
			}
		}

		&.score-bg-r {
			border-inline-end: 1px dashed var(--border-color);

			&.score-bg-t {
				border-start-end-radius: 2rem;
			}

			&.score-bg-b {
				border-end-end-radius: 2rem;
			}
		}

		&.score-bg-t {
			border-block-start: 1px dashed var(--border-color);
		}

		&.score-bg-b {
			border-block-end: 1px dashed var(--border-color);
		}
	}
}

#share-list {
	font-size: 1.5rem;
	margin: 0;

	.share-container {
		--item-height: 3.5rem;

		display: grid;
		grid-auto-flow: column;
		grid-template-rows: var(--item-height);

		margin: 0;
		padding: 0.2rem 1rem;
		list-style-type: none;

		justify-items: start;

		.share-item {
			display: block;
			height: var(--item-height);
			padding: 1rem;
			line-height: 1.5rem;

			img {
				height: 100%;
			}
		}
	}
}

#no_hide_toast {
	.toast-body {
		img {
			margin: auto;
		}
	}
}

.personal_result {
	--count-columns: 5;
	--section-display: 'block';

	.start-col {
		grid-column: 1;
	}

	.marker {
		border-width: 0.9rem;
		translate: 0 -1rem;
		color: var(--weakest-color);
		opacity: 0.7;
	}

	.hr {
		grid-column: 1 / span var(--count-columns);
	}

	.picto {
		height: 1.4rem;
		justify-self: end;
	}

	.d-grid {
		text-align: end;
	}

	.t-header {
		text-align: center;
	}

	.section {
		display: var(--section-display);
	}

	.ord {
		font-size: small;
	}
}